<div id="product-wrapper">
  <div class="product">
    <img src="{{(product|async)?.images[0].src}}">
  </div>
  <div class="info">
    <div class="name">{{(product|async)?.name}}</div>
    <div class="seller"><strong>Seller Details:</strong> <span>{{(product|async)?.owner}}</span></div>
    <div class="quantity">Quantity <span><input type="number" min="1" value="1" [(ngModel)]="quantity"></span></div>
    <div class="description">Description <span>Amount</span></div>
    <div class="price">{{(product|async)?.description}} <span>{{(product|async)?.price | currency:'PHP':true:'4.2-2'}}</span></div>
    <div class="fees">Shipping Fees <span>Shipping charges will apply</span></div>
    <div class="total">Total <span>{{(product|async)?.price * quantity | currency:'PHP':true:'4.2-2'}}</span></div>
    <div class="pay">
      <input type="radio" id="bank" name="payment"><label for="bank"><md-icon>payment</md-icon>Pay via UnionBank</label>
      <input type="radio" id="cod"  name="payment"><label for="cod"><md-icon>attach_money</md-icon>Cash on Delivery</label>
      <input type="radio" id="remittance"  name="payment"><label for="remittance"><md-icon>send</md-icon>Remittance</label>
    </div>
    <div class="pay-btn"><button md-button md-raised-button color="primary" (click)="payConfirm()">Pay Now</button></div>
  </div>
</div>