#product-wrapper {
    color: #595959;
    padding: 5px;
    md-icon { vertical-align: middle; }
    .product {
        cursor: pointer;
        display: inline-block;
        text-align: left;
        padding: 5px;
        .actions { text-align: center; }      
        border: 1px solid #DDD;
    }
    .info {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        div { padding: 5px; }
        .name {
            background: #009688;
            color: #FFF;
            font-weight: 300;
            padding: 10px;
        }
        .seller { font-weight: bold; margin-top: 10px; span { font-weight: normal; float: right; } }
        .description {
            font-weight: bold;
            border-bottom: 1px solid #DDD;
            padding-bottom: 10px;
            margin-bottom: 10px;
            span { float: right; }
        }  
        .quantity {
            font-weight: bold;
            padding-bottom: 10px;
            span { float: right; }
            input {
                padding: 5px;
                width: 30px;
                text-align: center;
                margin-top: -4px;
            }
        }
        .price span { float: right; }
        .name span { float: right; }
        .total {
            font-size: 22px;
            font-weight: bold;
            span { float: right; color: #7ebb12; }
        }
        .fees {
            border-bottom: 1px solid #DDD;
            padding-bottom: 15px;
            margin-bottom: 10px;
            span { float: right; font-style: italic; color: #999; }
        }
        .pay {
            margin-top: 50px;
            font-weight: bold;
            md-icon { margin-right: 5px; }
            label { margin-right: 20px; cursor: pointer; }
            input[type="radio"] {
                vertical-align: middle;
            }
        }
    }
}