input[type="text"] {
    padding: 10px;
    width: 400px;
    border: 1px solid #DDD;
    font-size: 18px;
}
#cvv {
    width: 235px;
    margin-top: 5px;
}
.wrapper {
    text-align: center;
}
select {
    padding: 10px;
    font-size: 18px;
}
.thanks {
    font-size: 48px;
}

.thanks span {
    font-size: 18px;
}