<md-toolbar>
  <div id="wrapper">
    &nbsp;
    <div id="logo">
      <span>
        <span class="highlight">Grab</span>Deals
      </span>
    </div>
    <div id="searchbar">
      <input type="text" placeholder="Search for products or stores">
      <button md-button color="primary" md-raised-button>
        <md-icon>search</md-icon>
      </button>
    </div>
    <div id="account">
      <md-icon>account_circle</md-icon>
      John Doe
      <span>CASH: 0</span>
    </div>
  </div>
</md-toolbar>
<md-toolbar id="subtoolbar">
  <div id="subwrapper">
    <ul>
      <li><a (click)="navigate($event, '/')" class="link active">Dashboard</a></li>
      <li><a (click)="navigate($event, 'products')" class="link">Products</a></li>
      <li><a (click)="navigate($event, '/')" class="link">Best Offers</a></li>
      <li><a (click)="navigate($event, '/')" class="link">Help and Support</a></li>
      <li><a (click)="navigate($event, 'account')" class="link">My Account</a></li>
    </ul>
  </div>
</md-toolbar>
<div id="content">
  <router-outlet></router-outlet>
</div>