/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/fonts/fonts-roboto.css";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

md-toolbar-row.mat-toolbar-row {
    height: 40px;
    min-height: 40px;
}

#searchbar .mat-raised-button.mat-primary {
    background-color: #009688;
    margin-top: -6px;
    margin-left: -1px;
    min-width: 60px;
}

.pay-btn .mat-raised-button.mat-primary {
    width: 100%;
    background-color: #009688;
    font-size: 20px;
    padding: 8px;
}

.pay-view .mat-raised-button.mat-primary {
    width: 100%;
    background-color: #fe9131;
    font-size: 20px;
    padding: 8px;
}

.wrapper .mat-raised-button.mat-primary {
    width: 420px;
    background-color: #009688;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
}